apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: harbor-enterprise
spec:
  descriptor:
    links:
      - description: Harbor Registry
        # Embedded cluster uses direct HTTPS ingress, KOTS uses port-forward to http://harbor
        url: '{{repl if (ne Distribution "embedded-cluster") }}http://harbor{{repl else}}{{repl if (ConfigOptionNotEquals "harbor_hostname" "") }}https://{{repl ConfigOption "harbor_hostname" }}{{repl end}}{{repl end}}'
      - description: Documentation
        url: https://goharbor.io/docs/