apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: harbor-enterprise
spec:
  descriptor:
    links:
      - description: Harbor Registry
        # Embedded cluster uses direct HTTPS ingress, KOTS uses port-forward to http://harbor
        url: '{{repl if and (eq Distribution "embedded-cluster") (ne (ConfigOption "harbor_hostname") "") }}https://{{repl ConfigOption "harbor_hostname" }}{{repl else }}http://harbor{{repl end }}'
      - description: Documentation
        url: https://goharbor.io/docs/